body
  padding-top: 45px
  font-family: 'Oswald', sans-serif

a
  color: #000

  &:hover
    text-decoration: none

.index
   background: $white-color !important
   border-top: 4px solid $accent-color !important
   color: #000 !important

.text-logo
  font-family: 'Oswald', sans-serif

.danger-color
  color: #d9534f
  font-size: 16px !important

.success-color
  color: #5cb85c
  font-size: 16px !important

.org-color
  color: #f7931a

.success-bg
  background: #5cb85c

.accent-bg
  background: #9b59b6

.divine
  margin: 10px 0 !important

.text-info
  position: relative
  top: -32px
  left: 40%
  background: $white-color
  padding: 0px 30px
  color: #bbb
